#set_io clk_100mhz R9
set_io clk R9

#set_io pmod1_1    D8
#set_io pmod1_2    B9
#set_io pmod1_3    B10
#set_io pmod1_4    B11
#set_io pmod1_7    B8
#set_io pmod1_8    A9
#set_io pmod1_9    A10
#set_io pmod1_10   A11
#set_io pmod2_1    A5
#set_io pmod2_2    A2
#set_io pmod2_3    C3
#set_io pmod2_4    B4
#set_io pmod2_7    B7
#set_io pmod2_8    B6
#set_io pmod2_9    B3
#set_io pmod2_10   B5
#set_io r0    A5
#set_io r1    A2
#set_io r2    C3
#set_io r3    B4
set_io rgb[0]   B4

#set_io b0    B7
#set_io b1    B6
#set_io b2    B3
#set_io b3   B5
set_io rgb[2]    B5

#set_io g0    D8
#set_io g1    B9
#set_io g2    B10
#set_io g3    B11
set_io rgb[1]    B11
set_io hsync    B8
set_io vsync    A9
#set_io nc    A10
#set_io nc   A11

set_io pmod3_1    L9
set_io pmod3_2    G5
set_io pmod3_3    L7
set_io pmod3_4    N6
set_io pmod3_7    N9
set_io pmod3_8    P9
set_io pmod3_9    M8
set_io pmod3_10   N7

#set_io pmod4_1    T15
#set_io pmod4_2    T14
#set_io pmod4_3    T11
#set_io pmod4_4    R10
#set_io pmod4_7    R14
#set_io pmod4_8    T13
#set_io pmod4_9    T10
#set_io pmod4_10   T9
#set_io swt0    T15
#set_io swt1    T14
#set_io swt2    T11
#set_io swt3    R10
set_io stop    R10
#set_io pmod4_7    R14
#set_io pmod4_8    T13
#set_io pmod4_9    T10
#set_io pmod4_10   T9

set_io matrix_00  C13
set_io matrix_01  E9
set_io matrix_02  B14
set_io matrix_03  A16
set_io matrix_04  D15
set_io matrix_05  D16
set_io matrix_06  F16
set_io matrix_07  G15
set_io matrix_08  G10
set_io matrix_09  J10
set_io matrix_0a  G16
set_io matrix_0b  H16
set_io matrix_0c  F15
set_io matrix_0d  E16
set_io matrix_0e  D14
set_io matrix_0f  C16

set_io matrix_10  A15
set_io matrix_11  C11
set_io matrix_12  E10
set_io matrix_13  F9
set_io matrix_14  E13
set_io matrix_15  G11
set_io matrix_16  D10
set_io matrix_17  D11
set_io matrix_18  E11
set_io matrix_19  F12
set_io matrix_1a  E14
set_io matrix_1b  F11
set_io matrix_1c  G12
set_io matrix_1d  B13
set_io matrix_1e  C12
set_io matrix_1f  B12

set_io matrix_20  L12
set_io matrix_21  P14
set_io matrix_22  T16
set_io matrix_23  F14
set_io matrix_24  G13
set_io matrix_25  K15
set_io matrix_26  H14
set_io matrix_27  M16
set_io matrix_28  M15
set_io matrix_29  J11
set_io matrix_2a  J13
set_io matrix_2b  K13
set_io matrix_2c  L11
set_io matrix_2d  N12
set_io matrix_2e  M12
set_io matrix_2f  R15

set_io matrix_30  J16
set_io matrix_31  J15
set_io matrix_32  J14
set_io matrix_33  K16
set_io matrix_34  G14
set_io matrix_35  L16
set_io matrix_36  H13
set_io matrix_37  H12
set_io matrix_38  N16
set_io matrix_39  R16
set_io matrix_3a  K12
set_io matrix_3b  K14
set_io matrix_3c  M9
set_io matrix_3d  L14
set_io matrix_3e  M14
set_io matrix_3f  L10
